<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.CnnString" connectionString="server=(local);database=ABCAutomotive;integrated security= SSPI;" />
    </connectionStrings>
</configuration>